@page
@using FoetexTrygLevering.Models.Items
@model FoetexTrygLevering.Pages.Users.Customer.HomepageModel
@{
    Layout = "Shared/_CustomerLayout";
}
<p>
    <a class="btn btn-primary" asp-page="ShoppingCart">View Shoppingcart</a>
</p>
<p>
    <a class="btn btn-primary" type="button" title="Edit customer" asp-page="EditCustomer" asp-route-id="@Model.Customer.UserID">Rediger profiloplysninger</a>
</p>
<div class="w3-row-padding w3-padding-16 w3-center" id="food">
    @foreach (Item anItem in Model.ItemList)
    {
        <div class="w3-quarter table-border">
            <img src="@anItem.ImageName" alt="" style="width: 100%">
            <h4>@anItem.Name</h4>
            Beskrivelse: @anItem.Description<br/>
            Pris: @anItem.Price DKK<br/>
            <li class="list-inline-item">
                <a class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Add to cart" asp-page="ShoppingCart" asp-page-handler="AddToCart" asp-route-id="@anItem.ID"><i class="fa fa-shopping-basket"></i></a>
            </li>
        </div>
    }
</div>