@page
@using FoetexTrygLevering.Models.Items
@using FoetexTrygLevering.Models.Order
@model FoetexTrygLevering.Pages.Users.DeliveryDriver.HomepageModel
@{
    Layout = "Shared/_DeliveryLayout";
}
<p>
    @if (Model.Driver != null)
    {
        <a class="btn btn-primary" type="button" title="Edit customer" asp-page="EditDeliveryDriver" asp-route-id="@Model.Driver.UserID">Rediger profiloplysninger</a>
        @if (Model.Driver.UserID != 16)
        {
            <a class="btn btn-primary" type="button" title="Edit customer" asp-page="DeleteDeliveryDriver" asp-route-id="@Model.Driver.UserID">Slet konto</a>
        }
    }
</p>

<table>
    <thead>
    <tr>
        <th>OrderID</th>
        <th>Postnr</th>
        <th>Leveringspunkt</th>
        <th>Totalpris</th>
        <th>Claim Knap</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.PendingOrders != null)
    {
        @foreach (Order ord in Model.PendingOrders)
        {
            <tr>
                <td>
                    @ord.OrderID
                </td>
                <td>
                    @ord.PostalCode
                </td>
                <td>
                    @ord.DeliveryCity, @ord.DeliveryStreet
                </td>
                <td>
                    @ord.TotalPrice
                </td>
                <td>
                    <form method="post">
                        <a asp-page="ActiveOrder" asp-route-id="@ord.OrderID" class="btn btn-success">Claim</a>
                    </form>
                </td>
            </tr>
        }
    }
    else
    {
        <div>
            ord var null
        </div>
    }
    </tbody>


</table>

