@page
@using FoetexTrygLevering.Models.Items
@using FoetexTrygLevering.Models.Order
@model FoetexTrygLevering.Pages.Users.DeliveryDriver.HomepageModel
@{
    Layout = "Shared/_DeliveryLayout";
}
<table class="table table-bordered table-hover table-striped table-opacity" width="40%">
    <thead>
        <tr>
            <th>OrderID</th>

            <th>
                <div class="myContainer">
                    <div class="align-left mt-5">Postnr
                    </div>
                    <div class="align-right mt-5">
                        <form method="post" asp-page="HomepageModel">
                            <input type="submit" value="Sort" asp-page-handler="Sort" class="btn btn-primary btn-resize"/>
                        </form>
                    </div>
                </div>
            </th>

            <th>Leveringspunkt</th>
            <th>Totalpris</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model.PendingOrders != null)
    {
        @foreach (Order ord in Model.PendingOrders)
        {
            <tr>
                <td>
                    @ord.OrderID
                </td>
                <td>
                    @ord.PostalCode
                </td>
                <td>
                    @ord.DeliveryCity, @ord.DeliveryStreet
                </td>
                <td>
                    @ord.TotalPrice
                </td>
                <td>
                    <form method="post">
                        <a asp-page="ActiveOrder" asp-route-id="@ord.OrderID" class="btn btn-success">Claim</a>
                    </form>
                </td>
            </tr>
        }
    }
    else
    {
        <div>
            ord var null
        </div>
    }
    </tbody>
</table>
