@page
@model FoetexTrygLevering.Pages.Users.Admin.GetAllUsersModel
@{
    Layout = "Shared/_AdminLayout";
}
<h1>User Information</h1>
<table class="table">
    <tr>
        <th>
            <div>
                <h5>Search id</h5>
                <form method="post">
                    <input asp-for="@Model.ID" class="form-control" placeholder="Enter search term"/>
                    <input type="submit" asp-page-handler="IDSearch" value="Search" class="btn btn-success"/>
                </form>
            </div>
        </th>
        <th>
            <div>
                <h5>Search Name</h5>
                <form method="post">
                    <input asp-for="@Model.Name" class="form-control" placeholder="Enter search term" />
                    <input type="submit" asp-page-handler="NameSearch" value="Search" class="btn btn-success" />
                </form>
            </div>
        </th>
        <th>
            <div>
                <h5>Search Email</h5>
                <form method="post">
                    <input asp-for="@Model.Email" class="form-control" placeholder="Enter search term" />
                    <input type="submit" asp-page-handler="EmailSearch" value="Search" class="btn btn-success" />
                </form>
            </div>
        </th>
        <th>
            <div>
                <h5>Search phone</h5>
                <form method="post">
                    <input asp-for="@Model.Phone" class="form-control" placeholder="Enter search term" />
                    <input type="submit" asp-page-handler="PhoneSearch" value="Search" class="btn btn-success" />
                </form>
            </div>
        </th>
    </tr>
</table>



<table class="table table-borderless table-hover table-striped table-opacity" width="40%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Id
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>


    <tbody>
        @if (@Model.ListUsers != null)
        {
            foreach (var user in Model.ListUsers)
            {
                if (!(user is Models.Users.Admin))
                {
                 <tr>
                     <td>
                       @user.UserID
                     </td>
                     <td>
                         @user.Name
                     </td>
                     <td>
                         @user.Email
                     </td>
                     <td>
                         @user.Phone
                     </td>
                     <td>
                         <form class="form-inline">
                             <form method="post">
                                 <a class="btn btn-primary btn-sm" type="button" data-toggle="tooltip" title="Edit" asp-page="EditUser" asp-route-id="@user.UserID"><i class="fa fa-edit"></i></a>
                             </form>
                             <form method="post">
                                 <a class="btn btn-danger btn-sm " type="button" data-toggle="tooltip" data-placement="top" title="Delete" asp-page="DeleteUser" asp-route-id="@user.UserID"><i class="fa fa-trash"></i></a>
                             </form>
                         </form>
                         
                     </td>

                     </tr>
                    
                }
            }
        }
    </tbody>
</table>

