@page
@using FoetexTrygLevering.Models.Items
@model FoetexTrygLevering.Pages.Users.Admin.HomepageModel
@{
    Layout = "Shared/_AdminLayout";
}
<p>
    <a class="btn btn-primary" asp-page="ShoppingCart">View Shoppingcart</a>
</p>
<p>
    <a class="btn btn-primary" type="button" title="Edit user" asp-page="EditUser" asp-route-id="1">Edit</a>
</p>
<div class="w3-row-padding w3-padding-16 w3-center" id="food">
    @foreach (Item anItem in Model.Items)
    {
        <div class="w3-quarter table-border">
            <img src="@anItem.ImageName" alt="" style="width: 100%">
            <h4>@anItem.Name</h4>
            Beskrivelse: @anItem.Description<br />
            Pris: @anItem.Price DKK<br />
            <li class="list-inline-item">
                <a class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="top" title="Edit item" asp-page="EditItem" asp-page-handler="EditItem" asp-route-id="@anItem.ID"><i class="fa fa-edit"></i></a>
            </li>
            <li class="list-inline-item">
                <a class="btn btn-danger" type="button" data-toggle="tooltip" data-placement="top" title="Trash item" asp-page="DeleteItem" asp-page-handler="DeleteItem" asp-route-id="@anItem.ID"><i class="fa fa-trash"></i></a>
            </li>
        </div>
    }
</div>