@page
@using FoetexTrygLevering.Models.Items
@model FoetexTrygLevering.Pages.Users.Admin.OrderStatisticsModel
@{
    Layout = "Shared/_AdminLayout";
}
<table class="table table-striped">
    <thead>
    <tr>
        <th>Statistik</th>
        <th>Resultat</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Which item is the most bought?
            </td>
            <td>@Model.MostBought().Name  : @Model.AmountBought(@Model.MostBought())stk </td>
        </tr>
        <tr>
            <td>How much money has been spent in total?</td>
            <td>@Model.CombinePrices(),-</td>
        </tr>
        <tr>
            <td>How many customers do we have?</td>
            <td>@Model.TotalCustomers()</td>
        </tr>
        <tr>
            <td>How many delivery drivers do we have?</td>
            <td>@Model.TotalDrivers()</td>
        </tr>
    </tbody>
</table>